@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.cl-table-container {
    width: 100%;
    cursor: pointer;
}

.new-person-modal {
    width: 31rem;
    padding: 1rem 1.5rem;
    z-index: 99;
    top: 10rem;
    position: absolute;
    margin-left: calc(50% - 15rem);
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 3px 3px gray;
}

